.mg {
  &-left {
    &-sm {
      margin-left: .5rem;
    }

    &-md {
      margin-left: 1rem;
    }

    &-lg {
      margin-left: 2rem;
    }
  }
}

.mg {
  &-right {
    &-sm {
      margin-right: .5rem;
    }

    &-md {
      margin-right: 1rem;
    }

    &-lg {
      margin-right: 2rem;
    }
  }
}

.inline {
  display: flex;
}

h1 {
  padding: 0 10px;
}

.color {
  &-blue {
    color: #1890ff;
  }
}

.font {
  &-18 {
    font-size: 18px;
  }

  &-32 {
    font-size: 32px;
  }
}

.pointer {
  cursor: pointer;
}

.hover-blue {
  transition: color .5s;
}

.hover-blue:hover {
  color: #1890ff
}